############################
# 通用编译产物 / 可执行文件
############################

# C/C++ 编译中间文件
*.o
*.obj
*.lo
*.la

# 静态 / 动态库
*.a
*.lib
*.so
*.dylib
*.dll

# 常见可执行文件
*.exe
*.out

# g++ 默认输出
/a.out

# 调试符号目录（macOS）
*.dSYM/

# 一些常见构建目录（如有）
/build/
/bin/
/dist/